.img {
    height: 15vh;
    width: 6vw;
    object-fit: cover;
}

.genre {
    font-style: italic;
    color: #1B1F23;
}

.title {
    padding-left: 24px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: black;
}

.card:hover {
    background: #F8F8F8;
}

/* todo вынести стили в глобал убрать b-r-8 в модулях у картинок  */