.header {
    min-height: 10vh;
    align-items: center;
    padding: 24px 32px;
    z-index: 5;

    position: sticky;
    top: 0px;
    width: 100%;
   
    color: white; 

    background: #333333;
    
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.tickets_count {
    height: 28px; 
    width: 28px;
}